<div class="admin-login-cover">

  <div class="form-contianer">
    <form action="/admin/" method="post">
      <h2>Login</h2>
      {{#if err}}
      <p class="err">{{err}}</p>
      {{else}}
      {{/if}}
      
      
        <input type="text" name="email" id="username" placeholder="Enter Username">

        <input type="password" name="password" id="password" placeholder="Enter Password">


      <input type="submit" value="LogIn">
    </form>
  </div>
</div>