
            <div id="layoutSidenav_content">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Category Management
                            </div>
                            <div class="card-body">

                              <form action="/admin/category-management" role="form"  method="POST" enctype="multipart/form-data">
                                  <input type="text" class="category"  name="name" placeholder="enter category" class="form-control">
                                  {{!-- <button type="submit" class="btn btn-success mb-4 mt-2" >Add-Category</button>  --}}
                                  <input class="btn btn-success mb-4 mt-2" type="submit">
                              </form>
                              <form action="/admin/add-sub-catagory" role="form"  method="POST" enctype="multipart/form-data">
                                    <select class="category-selector" >
                                        <option>Select Catagory</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                  <input type="text" class="category"    name="name" placeholder="enter sub-category"class="form-control">
                                  <button type="submit"class="btn btn-success mb-4 mt-2" value="Add Subcategory">Add-SubCategory</button> 
                              </form>
                            </div>
                            <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Catagaries and sub-catagaries
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Catagory</th>
                                            <th>Sub-catagory</th>
                                            <th>Total Products</th>
                                            <th>Update Catagory</th>
                                            <th>Remove Catagory</th> 
                                        </tr>
                                    </thead>
                                    {{!-- <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot> --}}
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 1.2rem;">Men</td>
                                            <td style="font-size: 1.2rem;">Shirt</td>
                                            <td style="font-size: 1.2rem;">50pc</td>
                                            <td><button type="button" class="btn btn-primary mb-4 mt-2">Update Catagory</button></td>
                                            <td><button type="button" class="btn btn-danger mb-4 mt-2">Remove Catagory</button></td>
                                        </tr>
                                         <tr>
                                            <td style="font-size: 1.2rem;">Women</td>
                                            <td style="font-size: 1.2rem;">Saree</td>
                                            <td style="font-size: 1.2rem;">25pc</td>
                                            <td><button type="button" class="btn btn-primary mb-4 mt-2">Update Catagory</button></td>
                                            <td><button type="button" class="btn btn-danger mb-4 mt-2">Remove Catagory</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>  
                        </div>
                    </div>
                </main>
            </div>
        </div>

