    
            <div id="layoutSidenav_content">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Product Management
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                     {{!-- <button>Add Product</button> --}}
                                    <a type="button" class="btn btn-success mb-4 mt-2" href="/admin/add-product">Add product</a>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Discription</th>
                                            <th>Image</th>
                                            <th>Update</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Jeans</td>
                                            <td>400</td>
                                            <td>25</td>
                                            <td>The fabric of jeans is very strong and easilyed fit is classy and is perfect if you want to avoid a tight fit. This type of denim usually rides higher on the waist and keeps you comfortable throughout the day. If you are in love with 90's f</td>
                                            <td ><img style="width:4rem; height:5rem" src="https://rukminim1.flixcart.com/image/832/832/l19m93k0/shopsy-jean/a/u/o/28-new-cross-jeans-white-luxury-original-imagcvhhdhprw4fq.jpeg?q=70" alt=""></td>
                                            <td><button type="button" class="btn btn-primary mb-4 mt-2">Update Product</button></td>
                                            <td><button type="button" class="btn btn-danger mb-4 mt-2">Remove Product</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
       
