<div class="account-cover">
    <h3 class="account-heading"> My Account</h3>
    <div class="account-text-container">
        <h4>{{userdata.firstName}}</h4>
        <p>{{userdata.email}}</p>
        <br>
        <p>VIEW ADDRESSES</p>

        <h4>Orders</h4>
        <p>you haven't placed any orders yet.</p>
        <a class="logout-button" href="/logout">Logout</a>
        <hr>
    </div>
</div>