<div class="cart-cover">
    <p class="cart-text">Your Cart</p>

    <p style="text-align: center; margin-bottom:20px">Your cart is currently empty.h</p>
    <p style="text-align: center; margin-bottom:50px"><a  href="/view-collection">Click here to continue shopping.</a></p>
</div>