<div class="content">

    <div class="home-3-products">

        <div class="one same-size">
            <p class="heading-3">Make The<br>Switch</p>
            <p class="heading-paragraph">Using bamboo toothbrush would help in reducing the<br>plastic wastage.</p>
            <a class="shop-now" href="">SHOP NOW</a>
        </div>

        <div class="two same-size">
            <p class="heading-3">CLose To<br>Nature</p>
            <p class="heading-paragraph">Switch to bamboo and contribute towards making the world<br> ecofriendly.</p>
            <a class="shop-now" href="">SHOP NOW</a>
        </div>

        <div class="three same-size">
            <p class="heading-3">Being With<br>Nature</p>
            <p class="heading-paragraph">Nature the planet by making as small switch towards the<br>bamboo toothbrush.
            </p>
            <a class="shop-now" href="">SHOP NOW</a>
        </div>
    </div>

    <div class="why-bambo-heading-container">
        <h1 class="why-baboo-heading">Why bambo</h1>
        <p class="why-baboo-heading-pargraph">Why Bamboo?
            Bamboo, a plant which holds utmost importance in every culture serves as a perfect replacement for age-old
            materials that harm the mother earth. Use of Bamboo-made
            products create a win-win situation for both: the nature & the mankind, and this is exactly what we strive
            for.
        </p>
    </div>

    <div class="why-container">
        <div class="right-image"></div>
        <div class="left-paragraph">
            <p class="bambo-india">BAMBOO INDIA</p>
            <h2 class="bamboo-product">Bamboo Products</h2>
            <p class="bamboo-prdt-paragraph">Bamboos are a diverse group of evergreen perennial flowering plants making
                up the subfamily Bambusoideae of the grass family Poaceae. Giant bamboos are the largest members of the
                grass family.</p>
            <a class="shop-now-left" href="">SHOP NOW</a>
        </div>
    </div>


    <div class="product-cover">
        <h2 class="best-seller">Best sellers</h2>
        <div class="product-grid">
            <div class="product-col">1</div>
            <div class="product-col">2</div>
            <div class="product-col">3</div>
            <div class="product-col">4</div>
            <div class="product-col">5</div>
            <div class="product-col">6</div>
            <div class="product-col">7</div>
            <div class="product-col">8</div>
        </div>
    </div>
    <div class="personal-care-cover">
        <h2 class="personal-care-heading">Personal care</h2>
        <div class="personal-care-container-grid">
            <div class="peronal-care-col">1</div>
            <div class="peronal-care-col">2</div>
        </div>
    </div>

    <div class="gifts">
        <h2>Corporate Gifts</h2>
        <div class="scroller">
            <p>Scroller</p>
        </div>
    </div>

    <div class="why-container">
        <div class="right-image"></div>
        <div class="left-paragraph">
            <p class="bambo-india">Kid toothbrush</p>
            <h2 class="bamboo-product">Bamboo Products</h2>
            <p class="bamboo-prdt-paragraph">Bamboos are a diverse group of evergreen perennial flowering plants making
                up the subfamily Bambusoideae of the grass family Poaceae. Giant bamboos are the largest members of the
                grass family.</p>
            <a class="shop-now-left" href="">SHOP NOW</a>
        </div>
    </div>
</div>