<div class="content">

    <div class="home-3-products">

        <div class="one same-size">
            <p class="heading-3">Make The<br>Switch</p>
            <p class="heading-paragraph">Using bamboo toothbrush would help in reducing the<br>plastic wastage.</p>
            <a class="shop-now" href="">SHOP NOW</a>
        </div>

        <div class="two same-size">
            <p class="heading-3">CLose To<br>Nature</p>
            <p class="heading-paragraph">Switch to bamboo and contribute towards making the world<br> ecofriendly.</p>
            <a class="shop-now" href="">SHOP NOW</a>
        </div>

        <div class="three same-size">
            <p class="heading-3">Being With<br>Nature</p>
            <p class="heading-paragraph">Nature the planet by making as small switch towards the<br>bamboo toothbrush.
            </p>
            <a class="shop-now" href="">SHOP NOW</a>
        </div>
    </div>


    <div class="home-1-product-mobile">

        <div class="home-1-product-mobile-headings-div">
            <p class="heading-3-mobile-view">Make The<br>Switch</p>
            <p class="heading-paragraph-mobile-view">Using bamboo toothbrush would help in reducing the<br>plastic wastage.</p>
            <a class="shop-now-mobile-view" href="">SHOP NOW</a>
        </div>

    </div>





    <div class="why-bambo-heading-container">
        <h1 class="why-baboo-heading">Why Bamboo</h1>
        <p class="why-baboo-heading-pargraph">Why Bamboo?
            Bamboo, a plant which holds utmost importance in every culture serves as a perfect replacement for age-old
            materials that harm the mother earth. Use of Bamboo-made
            products create a win-win situation for both: the nature & the mankind, and this is exactly what we strive
            for.
        </p>
    </div>

    <div class="why-container-cover">
        <div class="why-bambo-flex">

            <div class="right-image-div">
                <div class="image-div">
                    <img src="/images/bamboo.jpeg" alt="">
                </div>
            </div>

            <div class="left-paragraph-div">
                <div class="pragraph-div">
                    <p class="bambo-india">BAMBOO INDIA</p>
                    <h2 class="bamboo-product">Bamboo Products</h2>
                    <p class="bamboo-prdt-paragraph">Bamboos are a diverse group of evergreen perennial flowering plants
                        making
                        up the subfamily Bambusoideae of the grass family Poaceae. Giant bamboos are the largest members
                        of
                        the
                        grass family.</p>
                    <a class="shop-now-left" href="">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>


    <div class="product-cover">
        <h2 class="best-seller">Best sellers</h2>
        <div class="product-grid">

            {{#each products}}
            <a class="a-tag-for-pro-div" href="/view-single-product/{{_id}}">
                <div class="product-col myDIV">

                    <div class="pro-image-div">
                        <img src="/upload/{{image.[0].img}}" alt="">
                    </div>


                    <div class="pro-deatail-container">
                        <div class="p-d">
                            <div class="pro-name">
                                <p>{{name}}</p>
                                <div class="pro-rating">
                                    <p>***(21)</p>
                                </div>
                            </div>
                        </div>
                        <div class="pro-price-div">
                            <p>Rs.{{price}}</p>
                        </div>
                    </div>
                </div>
            </a>

            {{/each}}
        </div>
    </div>

    <div class="view-collection">
        <a class="view-collection" href="/view-collection">VIEW COLLECTION</a>
    </div>

    <div class="personal-care-cover">
        <h2 class="personal-care-heading">Personal care</h2>
        <div class="personal-care-container-grid">
            <div class="peronal-care-col">1</div>
            <div class="peronal-care-col">2</div>
        </div>
    </div>

    <div class="corporate-gifts-cover">
        <h2>Corporate Gifts</h2>
        <div class="corporate-gifts-scroller">
            <div class="scroller">

            </div>
        </div>

    </div>

    <div class="why-container-cover">
        <div class="why-bambo-flex">

            <div class="right-image-div">
                <div class="image-div">
                    <img src="/images/micheile-dot-com-wwTvwS9vKZs-unsplash (1).jpg" alt="">
                </div>
            </div>

            <div class="left-paragraph-div">
                <div class="pragraph-div">
                    <p class="bambo-india">BAMBOO INDIA</p>
                    <h2 class="bamboo-product">Bamboo Products</h2>
                    <p class="bamboo-prdt-paragraph">Bamboos are a diverse group of evergreen perennial flowering plants
                        making
                        up the subfamily Bambusoideae of the grass family Poaceae. Giant bamboos are the largest members
                        of
                        the
                        grass family.</p>
                    <a class="shop-now-left" href="">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-container-cover">
        <h2>Blog posts</h2>
        <div class="blog-container-grid">
            <div class="blog-col">1</div>
            <div class="blog-col">2</div>
            <div class="blog-col">3</div>
        </div>
    </div>
    <div class="achievement-grid">
        <h2>ACHIEVEMENTS</h2>
        <div class="achievement-cover">
            <div class="happy-customer-grid">
                <div class="happy-col">1</div>
                <div class="happy-col">2</div>
                <div class="happy-col">3</div>
                <div class="happy-col">4</div>
            </div>
        </div>
    </div>

</div>