<div class="content">

    <div class="home-3-products">

        <div class="one same-size">
            <p class="heading-3">Make The<br>Switch</p>
            <p class="heading-paragraph">Using bamboo toothbrush would help in reducing the<br>plastic wastage.</p>
            <a class="show-now" href="">SHOP NOW</a>
        </div>

        <div class="two same-size">
            <h1>Two</h1>

        </div>

        <div class="three same-size">
            <h1>Three</h1>

        </div>
    </div>

    <h1>Why bambo</h1>

    <div class="why-bambo">
        <div class="why-container"></div>
    </div>

    <h1>Best seller</h1>

    <div class="best-seller-container">
        <div class="product-grid">

        </div>
    </div>



</div>

