<div class="acount-container-cover">
    <div class="accout-div">
        <h2 class="account-login">Login</h2>
        <div class="accout-items-div">
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded" >
                <label for="">EMAIL</label><br>
                <input class="input" type="text" name="email" id=""><br>
                <label for="">PASSWORD</label><br>
                <input class="input" type="text" name="password" id=""><br>
                <a class="forget-password" href="">FORGOT YOUR PASSWORD?</a> <br>
                <div class="button-flex">
                    <input class="login" type="submit" name="" id="" value="LOGIN"><br>
                </div>
            </form>
             <a href="/sign-up"><button  class="signup">SIGN UP</button></a>
        </div>
    </div>
</div>