<div class="login-signup-container-cover">
    <div class="accout-div">
        <h2 class="login-signup-login">Login</h2>
        <div class="login-signup-items-div">

            {{!-- ERROR MESSAGE DIV --}}
            <div class="error-message-div" id="messageDiv">
                <h6 class="message"></h6>
            </div>

            <form id="otpForm" action="/otp-verification" method="post">
                <label for="">ENTER OTP</label><br>
                <input class="input" type="number" name="otp"><br>
                <div class="button-flex">
                    <input class="login" type="submit" value="VERIFY OTP"><br>
                </div>
            </form>

        </div>
    </div>
</div>

{{!-- <script>
    var firebaseConfig = {
        apiKey: "AIzaSyAcFcoVGkBPK5rxa7lIDZsGfBuKFDbWejc",
        authDomain: "ecofriend-otp-authentication.firebaseapp.com",
        projectId: "ecofriend-otp-authentication",
        storageBucket: "ecofriend-otp-authentication.appspot.com",
        messagingSenderId: "551536661159",
        appId: "1:551536661159:web:7ead4ac8b703eb8748c182",
        measurementId: "G-28137EZMNV",
    };


    firebase.initializeApp(firebaseConfig);

    var sign_out = document.querySelector("#signOut");

    var login_form = document.querySelector("#loginForm");
    var message = document.querySelector("#messageDiv");
    var message_value = document.querySelector(".message");
    var otp_form = document.querySelector("#otpForm");

    if (window.location.pathname === "/login-with-phone-number") {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
            "sign-in-button",
            {
                size: "invisible",
                callback: (response) => {
                    console.log("captcha verified");
                },
            }
        );


        login_form.addEventListener("submit", function (e) {
            e.preventDefault();
            let phone_number = "+91" + login_form.phone.value;

            const appVerifier = window.recaptchaVerifier;

            firebase
                .auth()
                .signInWithPhoneNumber(phone_number, appVerifier)
                .then((confirmationResult) => {
                    console.log("OTP SEND", confirmationResult);

                    login_form.style.display = "none";
                    otp_form.style.display = "block";

                    window.confirmationResult = confirmationResult;
                })
                .catch((error) => {
                    message.style.display = "block";
                    message_value.innerText = error.message;
                });
        });

        otp_form.addEventListener("submit", function (e) {
            e.preventDefault();
            let otp_number = otp_form.otp_value.value;

            window.confirmationResult
                .confirm(otp_number)
                .then((result) => {
                    window.location = "/";
                })
                .catch((error) => {
                    message.style.display = "block";
                    message_value.innerText = error.message;
                });
        });
    }




</script> --}}