<div class="acount-container-cover">
    <div class="accout-div">
        <h2 class="account-login">Create Account</h2>
        <div class="accout-items-div">
            <form action="/sign-up" method="post" enctype="application/x-www-form-urlencoded">
                <label for="" name="fname" >FIRST NAME</label><br>
                <input class="input" type="text" name="fname" id=""><br>
                <label for="">LAST NAME</label><br>
                <input class="input"  name="lname" type="text" name="lname" id=""><br>
                <label for="" name="email">EMAIL</label><br>
                <input class="input" type="text" name="email" id=""><br>
                <label for="" name="password">PASSWORD</label><br>
                <input class="input" type="password" name="password" id=""><br>
                <div class="button-flex">
                    <input class="signup sign-up-black" type="submit" name="" id="" value="SIGN UP">
                </div>
            </form>
            <a href="/login"><button class="login login-white">LOGIN</button></a>
        </div>
    </div>
</div>