<div class="Single-product-cover">



    <div class="Single-product-flex">

        <div class="right-side-pro-image">
            <div class="right-imag-and-btns-cover">
                <div class="img-and-thump-img">
                    <div class="main-img">
                        <img class="main-image-big big_img" src="/images/micheile-dot-com-a9BY65__Cas-unsplash (1).jpg" class="big_img">
                    </div>
                    <div class="img-thumps" id="myDIV">
                        <ul class="imga-thumps-flex">
                            <li class="btn  active"><img class="li-thump-img small_img"  src="/images/micheile-dot-com-a9BY65__Cas-unsplash (1).jpg"></li>
                            <li class="btn"><img class="li-thump-img small_img"  src="/images/Need_394x.webp" ></li>
                            <li class="btn"><img class="li-thump-img small_img"  src="/images/classic_394x.webp" ></li>
                            <li class="btn"><img class="li-thump-img small_img"  src="/images/micheile-dot-com-BTMxNIwVBvU-unsplash (1).jpg"></li>
                            <li class="btn"><img class="li-thump-img small_img"  src="/images/bamboo.jpeg" ></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="left-side-details">
            <div class="pro-details-name-price-other">
                <h1>Bamboo brush-100% ecofriendly</h1>
                <h3 class="pro-price">RS.299.00</h3>
                <p class="pro-tax">tax included</p>
                <p class="pro-review">(6 total reviews)</p>
            </div>

            <div class="pro-add-to-cart-and-buy-qty">
                <label for="">QUNTITY</label>
                <input class="quantity-input" type="number" name="" id="" value="1">
                <button class="add-to-cart-button" >ADD TO CART</button>
                <button class="buy-now-button" >BUY NOW</button>
            </div>

            While switching to a natural toothbrush may seem like a small change, the stats above show that we could all
            make a big difference if we each committed to doing things a better way.
            Benefits Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit architecto magni veritatis eaque necessitatibus placeat illum explicabo quos. Recusandae repellat quidem asperiores sed suscipit consectetur libero. Perspiciatis, praesentium neque impedit amet ut veritatis voluptatibus harum iste laboriosam illum vel incidunt cum laborum, cumque, debitis atque omnis eveniet rerum. Facere labore quod ea corrupti porro. Deserunt, dolorum nobis. Ea quaerat totam voluptates quam iste ab ad est, inventore pariatur laborum sapiente illo fugit facilis enim dicta tempora minus repudiandae consequuntur deleniti nobis. Nesciunt numquam quaerat asperiores laborum, sint exercitationem vero aliquam, ab ipsa laboriosam eius, atque nisi consequatur quasi sit!
            <div class="share-icons-links-container-flex">
                icons
            </div>
        </div>
    </div>






    <div class="suggetions-cover">
        <h2 class="you-may-also-like">You my also like this</h2>
        <div class="suggetions-pro-grid">
            <div class="suggetion-pro-col">
                <p>hello 1</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 2</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 3</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 4</p>
            </div>
        </div>
    </div>






    <div class="user-review-cover">
        <h2 class="customer-review">Customer Reviews</h2>
        <div class="user-review-box">
            <p>Reviews user 1</p>
        </div>
        <div class="user-review-box">
            <p>Reviews user 2</p>
        </div>
    </div>
</div>


