<div class="Single-product-cover">
    <div class="Single-product-flex">
        <div class="right-side-pro-image">
            right image
        </div>
        <div class="left-side-details">
            
            <div class="share-icons-links-container-flex">
                icons
            </div>
        </div>
    </div>

    <div class="suggetions-cover">
        <div class="suggetions-pro-grid">
            <div class="suggetion-pro-col">
                <p>hello 1</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 2</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 3</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 4</p>
            </div>
        </div>
    </div>

    <div class="user-review-cover">
        <h3>Customer Reviews</h3>
        <div class="user-review-box">
            <p>Reviews user 1</p>
        </div>
        <div class="user-review-box">
            <p>Reviews user 2</p>
        </div>
    </div>
</div>