<div class="view-collection-cover">
    <div class="filter">
        <div class="">
            <button class="filter-button">BROWSE</button>
            <button class="filter-button">CATAGORY</button>
        </div>
        <div>
            <button class="filter-button">REFINE</button>
        </div>
    </div>



    <div class="view-collection-grid">
        {{#each pro}}
        <a class="a-tag-for-pro-div" href="/view-single-product/{{_id}}">

            <div class="collection-col">

                <div class="collection-img-div">
                    <img src="/upload/{{image.[0].img}}" alt="">
                </div>

                <div class="collecton-pro-details-flex">
                    <div class="collection.details.div">
                        <p>{{name}}</p>
                        <p class="collection-rating">***(1)</p>
                    </div>
                    <div class="collecton-price-div">
                        <p>{{price}}</p>
                    </div>
                </div>

            </div>
        </a>
        {{/each}}

    </div>

    <div class="filter">
        <div class="">
            <button class="filter-button"></button>
        </div>
        <div>
            <button class="filter-button">next page</button>
        </div>
    </div>
</div>