.cart-cover{
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
.cart-text{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 50px;
}
.cart-container-flex{
    /* background-color: rgb(49, 197, 57); */
}

.p-q-t{
    /* background-color: rgb(255, 183, 0); */
    width: 35%;
    margin-left: auto;
}

.cart-prce-quantity-total-flex{
    display: flex;
    justify-content: space-between;
}



.-and-plusbutton{
width: 50px;
height: 40px;
background-color: rgb(255, 255, 255);
border:rgb(150, 150, 150)  solid 1px ;
font-size: 1rem;
text-align: center;
}
.-and-plusbutton:active {
    background-color: rgb(248, 248, 248);
    transform: translateY(.5px);
}



.quantity-input-cart{
margin-bottom: 5px;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
border: 1px solid rgb(150, 150, 150) ;
}
.remove-buttton{
 all: unset;
 border-bottom: 1px solid black;
text-align: center;
width: 40%;
}
.remove-buttton:active {
    transform: translateY(.5px);
}


.cart-product-container-div{
    border-bottom: rgb(197, 197, 197) solid 1px;
    border-top:rgb(197, 197, 197)  solid 1px ;
}
.cat-pro-one{
    /* background-color: red; */
}

.cat-pro-one-flex{
    display: flex;
    height: 250px
}
.name-mobile-view{
    display: none;
}


.cart-img{
   width: 25%;
    /* background-color: rgb(207, 91, 91); */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cart-image-div{
    /* background-color: red; */
    width: 80%;
    height: 100%;
}
.cart-image-div img{
width:100%;
height:100%;
object-fit: contain;
}
.cart-pro-name{
    width: 37%;
/* background-color: rgb(47, 255, 47); */
display: flex;
align-items: center;
justify-content: center;
font-size: 1.4rem;
padding-right: 60px;
}
.cart-other{
    width: 38%;
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
    justify-content: center;
    
}
.cart-other-div{
    display: flex;
    

}
.cart-price{
    margin-right: 70px;
}
.cart-total-price{
    margin-left: 70px;
}
.quantity-button-flex{
    display: flex;
}
.buttons-and-remove-flex{
    display: flex;
    flex-direction: column;
}
.note-and-checkout-container-flex-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 20px;
   
}
.total-and-checkout-div{
line-height: 30px;
}
.text-area-heading{
    
}
.checkout-btn{
    margin-bottom: 50px;
}
.text-area{
  margin: 0px;
  height: 100px;
  width: 100%;
}
.br-new-line{
    display: none;
}


@media (max-width: 943px) {
    .cart-cover{
        margin-top: 100px;
      padding: 5px;
    }
    .cart-prce-quantity-total-flex{
        display: none;
    }
    .cart-pro-name{
        display: none;
    }
    .remove-buttton{
        text-align: start;
        }
    .cart-total-price{
        margin-left: 0px;
    }
    .name-mobile-view{
        text-align: center;
        display: block;
        /* background-color: green; */
    }
    .cart-img{
        width: 45%;
      
         /* background-color: rgb(207, 91, 91); */
     }
    .cart-other{
        width: 65%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        /* background-color: blueviolet; */
    }
    .cart-other-div{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
   
    .note-and-checkout-container-flex-div{
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        text-align: center;
       
    }
    .note-div-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
    }
    .text-area-heading{
        text-align: center;
    }
    .text-area{
      margin: 0px;
      height: 80px;
      width: 100%;
    }
    .br-new-line{
        display: block;
    }
    
}