.contact-and-shipp-to-div{
    width: 100%;
    border:  solid 1px rgb(208, 207, 207);
    border-radius: 10px;
    padding: 10px;
}
.contact{
    border-bottom:1px solid rgb(208, 207, 207) ;
    padding: 10px;
}
.shipp-to{
    padding: 10px;
}
.c-s{
    color: gray;
}
.payment-container{
    margin-bottom: 10px
}
.select-payment-method
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.payment-method-div{
    width: 100%;
  
    border-radius: 10px;
 
    border: solid 1px  rgb(208, 207, 207);
}
.cod-div{
    border-bottom:1px solid rgb(208, 207, 207) ;
    padding: 10px;

}
.oninePaymentMethod{
    padding: 10px; 
    border-bottom: solid 1px rgb(176, 176, 176);
}
.online-payment-div{
    padding: 10px;
}
.paypal-payment-div{
    padding: 10px;
    border-top:1px solid rgb(208, 207, 207) ;

}
.online-label
{
    margin-left: 50px;
}