@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box ;
}
/* ADDMIN AND ADMIN PRODUCT */
.category{
  height: 40px;
  font-size: 15px;
  border: solid 1px rgb(180, 175, 175);
  padding-left: 10px;
  border-radius: 10px;
}
.category-selector{
  margin-bottom: .5rem;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  border: solid 1px rgb(180, 175, 175);
  padding-left: 3px;
}
/* add product page */
.add-product{
  padding: 15px;
  display: flex;
 justify-content: center;
}
/* ================================= */

/* ERROR MESSAGE MARGIN TOP */
.eroor-messge-margin-top{
  margin-top: 150px;
}

