@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar-fixed-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
/*     z-index: 1; */
background: rgb(0, 0, 0);
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x :hidden; 
}
hr{
  display: none;
}
.account-list{
  display: none;
}
/* .body nav {
  position: sticky;
  top: 0;
} */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  /* z-index: 100000; */
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar{
  height: 90px;
  background: #ffffff;
  padding: 10px 0;
}

.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.icon{
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-btn{
  margin-left: 20px;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.logo-image{
  width: 7em;
 }
.account-and-cart{
  display: flex;
}
.a-s-c{
  margin-right: 50px;
}
.account{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 950px) {
  hr{
    display: block;
  }
  .logo-image{
    width: 7em;
   }

  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 250px;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: left;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
    box-shadow: 100px 300px 500px 100px rgba(0,0,0,0.1);

  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    padding: 15px;
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}

@media (max-width: 750px) {
  .logo-image{
   width: 7em;
  }
  .account-list{
    display: block;
  }
  .a-s{
    display: none;
  }
}
